{% extends "base.html" %}

{% block page_content %}
<div class="page-header">

   <div class="jumbotron">
    <div class="container">
      <h1>{{ user.name }}</h1>
      <div class="row">
        <div class="col-md-12">
          {% for photo in photos %}
            <img src="{{ photo.url }}" width="220" height="220px">
          {% endfor %}
          <div class="row">
           <h3>Biography</h3>
           <p>{{ user.bio }}</p>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <h2>Chat History:</h2>
    <div class="panel panel-default">
      <div class="panel-body">
        {% if msgs %}
          {% for msg in msgs %}
            {% if msg.user_id == 1 %}
            <div class="alert alert-info match">
              <b>{{ user.name }} -</b> {{ msg }} <div class="floaty"><b>{{ msg.timestamp }}</b></div>
            {% else %}
            <div class="alert alert-success me">
               <div class="floaty"><b>{{ msg.timestamp }}</b></div> {{ msg }} <b>- (Cleverbot) Me</b>
            {% endif %}
            </div>
          {% endfor %}
        {% else %}
          <h3>No chat yet :(</h3>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}
